@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
.bg-container01{
    background-color: #F6F5FF;
    background-size: cover;
}

.image01{
    width: 132px;
    height:50px;
}
.para01{
    font-size: 18px;
    font-weight: 400;
    color:#562EFF;
    line-height: 28px;
    text-align: center;
}
.card01{
    background-color: #FFFFFF;
    width: 110px;
    height:70px;
    border-radius: 4px;
    border: 2px solid #4737FF;
    margin-top: -10px;
    text-align: center;
}
.number01{
    background-color: transparent;
    font-size: 25px;
    font-weight: 800;
    color:#562EFF;
    line-height: 28px;
}
.hours01{
    font-size: 18px;
    font-weight: 400;
    color: #562EFF;
    background-color: transparent;
    line-height: 28px;
    margin-top: -10px;
}
.button01{
    background-color: #4737FF;
    height: 50px;
    width: 267px;
    border-radius: 4px;
    border: 0px;
    font-size: 12px;
    font-family: 500;
    color:#FFFFFF;
    letter-spacing: 4px;
    line-height: 24px;
    text-transform: uppercase;
}

.button01:hover{
    background-color: rgb(226, 141, 38);
}
.heading01{
    font-size: 50px;
    font-weight: 800;
    line-height: 60px;
    color:#562EFF;
    line-height: 60px;
    letter-spacing: 1px;
}
.paragraph01{
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    color:#562EFF;
}
.paragraph02{
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    color:#562EFF;
    margin-top: -20px;
}
.input01{
    background-color: #F3F3F3 !important;
    text-align: center !important;
    height: 74px !important;
    width: 50%;
    text-transform: capitalize;
}
.input01::placeholder {
    color: #562EFF !important;
}
.button02{
    background-color: #562EFF;
    color:#FFFFFF;
    font-size: 18px;
    font-weight: 400;
    border: 0px;
    padding: 20px;
    text-transform: capitalize;
    letter-spacing: 0.3px;
    border-radius: 0px 5px 5px 0px;
}
.icon01{
    color:#562EFF;
    font-size: 14px;
}
.symbol01{
    color:#562EFF;
    font-size: 18px;
    font-weight: 400;
    margin-top: -7px;
    letter-spacing: 0.3px;
}
.card{
    border: 2px solid #562EFF !important;
    padding: 10px;
    height: 100%;
    background-color: #FFFFFF !important;
}
.card:hover{
    background-color: #79ed96 !important;
    scale: 1.1;
}
.card-title{
   
    color: #562EFF;
    font-size: 22px;
    font-weight: 800;
}
.card-text{
    color: #562EFF;
    font-size: 18px;
    font-weight: 400;
}
.heading02{
    color: #562EFF;
    font-size: 40px;
    font-weight: 800;
    letter-spacing: 0.6px;
}
.owl-theme .owl-dots, .owl-theme .owl-nav{
    color: #4737FF !important;
    display: block !important;
}
.step1{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 4px;
    color: #562EFF;
}
.stepparagraph{
    color:#562EFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}
.button03{
    background-color: transparent;
    border: 2px solid #562EFF;
    color:#562EFF;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 4px;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 5px;
    height:50px;
}
.stepimage{
    width: 100%;
    height: 100%;
}
.stepimage01{
    width: 100%;
    height: 100%;
    margin-top: 20px;
}
.step2para{
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    word-spacing: 2px;
    color: #562EFF;
}
.bg-container02{
    background-color: #FFEEEE;
    background-size: cover;
}
.heading03{
    background-color:transparent;
}
.manohar{
    background-color: #F6F5FF;
}




.accordion{
    width: 70% !important;
    border: 2px solid #562EFF;
    background-color: #FFFFFF !important;
}
.card03 {

    border-bottom: 1px solid #CCC0FF;
    background-color: #FFFFFF !important;
}
.card04 {

    border-bottom: 1px solid #CCC0FF;
    background-color: #FFFFFF !important;
}

.sample01 {
    color: #562EFF !important;
    text-decoration: none !important;
    font-size: 22px !important;
    font-weight: 800 !important;

    
}
.card-body001{
    color: #000000;
    font-weight: 400;
    font-size: 18px;
    padding: 15px;
    text-align: left;
}
.icon02{
    font-size: 16px;
    margin-top: 10px;
}
.heading04{
    color:#562EFF;
    font-size: 24px;
    font-weight: 800;
    margin-top: 8px;
}
.copyright{
    color: #562EFF;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 12px;
}
.privacy, .terms{
    color: #562EFF;
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
    margin-top: 7px;
}
.disclaimer{
    color:#562EFF;
    font-size: 18px;
    font-weight: 400;
}




